.Component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-image {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 30vh;
}
.text-uppercase {
  text-transform: uppercase;
}
.subtitle {
  margin-top: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.title > strong {
  color: #14e2cd;
}

.button {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0.5em 0;
  padding: 1em 3em;
  border: 0;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(right, #14e6d3, #8660f5);
  background-image: linear-gradient(to left, #14e6d3, #8660f5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 20px;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.button:after {
  position: absolute;
  content: '';
  top: 0;
  left: -1em;
  bottom: 0;
  width: 1em;
  background-image: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(255, 255, 255, 0.2) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(255, 255, 255, 0.2) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}
.button:hover:after {
  -webkit-animation: sparkle 0.5s normal forwards ease-out;
  animation: sparkle 0.5s normal forwards ease-out;
}

@media screen and (min-width: 678px) {
  .button {
    font-size: 24px;
  }
  .button.button-small {
    font-size: 22px;
  }
}
