/*Column layout*/
.row-of-2,
.row-of-3,
.row-of-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 678px) {
  .row-of-2,
  .row-of-3,
  .row-of-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .row-of-2 > .col,
  .row-of-3 > .col,
  .row-of-4 > .col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 678px) {
  .row-of-3 .col {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .row-of-3 .col {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
}
@media screen and (min-width: 678px) {
  .row-of-4 .col {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .row-of-4 .col {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
}

/*Answer CSS*/
.answer-text {
  font-size: 16px;
}
.answer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 2px;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.2);
  text-align: left;
  -webkit-transition: background 0.35s ease, -webkit-transform 0.35s ease;
  transition: background 0.35s ease, -webkit-transform 0.35s ease;
  transition: transform 0.35s ease, background 0.35s ease;
  transition: transform 0.35s ease, background 0.35s ease,
    -webkit-transform 0.35s ease;
}
.answer .answer-image {
  width: 60px;
  height: 60px;
  margin-right: 1em;
}
@media screen and (min-width: 480px) {
  .answer {
    width: 100%;
    background: rgba(255, 255, 255, 0);
  }
  .answer:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@media screen and (min-width: 678px) {
  .answer {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .answer .answer-image {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 992px) {
  .answer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .answer .answer-image {
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
.answer.selected {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: answer-selected 0.5s normal forwards linear;
  animation: answer-selected 0.5s normal forwards linear;
}
